{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container">
        <h1>Tableau de bord</h1>
        <p>Bienvenue dans l'administration de Quasebal FL. Vous pouvez gérer les utilisateurs, les produits et d'autres aspects de l'application à partir de ce tableau de bord.</p>
    </div>
{% endblock %}



