{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes paiements</h1>

    {% if paiements is empty %}
        <p>Vous n'avez encore effectué aucun paiement.</p>
    {% else %}
        <ul class="paiement-list">
            {% for paiement in paiements %}
                <li>
                    Paiement du {{ paiement.date|date('d/m/Y H:i') }} – 
                    {{ paiement.montant|number_format(2, ',', ' ') }} € – 
                    Statut : <strong>{{ paiement.statut|capitalize }}</strong> – 
                    Méthode : {{ paiement.type|capitalize }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
