{# templates/email/index.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nouvelle inscription</title>
</head>
<body style="font-family: Arial, sans-serif; color: #333; line-height: 1.6;">
    <h2 style="color: #007bff;">Nouvelle inscription sur le site ,</h2>
    <p>Bonjour,</p>
    <p> Nouvelle utilisateur pret à te peter le bide serieux !</p>
    <p>Car tu ne sortira pas sans avoir prix 1kg de plus !</p>



    <hr>
    <p style="font-style: italic;">Ce message vous est envoyé automatiquement après une nouvelle inscription.</p>
</body>
</html>
